@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

@if (User.IsInRole("Administrador"))
{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@{
    if (!User.Identity.IsAuthenticated)
    {
        <h2>Faça login para visualizar as Provas</h2>
    }
    else
    {
        <h2>Visualização das Provas</h2>
        <div id="calender"></div>
        <link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" rel="stylesheet" />
        <link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css" rel="stylesheet" media="print" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
        @section Scripts{
            <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
            <script>
                $(document).ready(function () {
                    var events = [];
                    var selectedEvent = null;
                    FetchEventAndRenderCalendar();
                    function FetchEventAndRenderCalendar() {
                        events = [];
                        $.ajax({
                            type: "GET",
                            url: "/backoffice/GetEvents",
                            success: function (data) {
                                $.each(data, function (i, v) {
                                    events.push({
                                        eventID: v.horarioId,
                                        title: v.nomeProva,
                                        description: v.descricao,
                                        start: moment(v.datainicio),
                                        end: v.datafim != null ? moment(v.datafim) : null,
                                        color: v.temaCor,
                                        allDay: v.diaInteiro
                                    });
                                })

                                GenerateCalender(events);
                            },
                            error: function (error) {
                                alert('failed');
                            }
                        })
                    }

                    function GenerateCalender(events) {
                        $('#calender').fullCalendar('destroy');
                        $('#calender').fullCalendar({
                            contentHeight: 400,
                            defaultDate: new Date(),
                            timeFormat: 'h(:mm)a',
                            header: {
                                left: 'prev,next today',
                                center: 'title',
                                right: 'month,basicWeek,basicDay,agenda'
                            },
                            eventLimit: true,
                            eventColor: '#378006',
                            events: events,
                            eventClick: function (calEvent, jsEvent, view) {
                                selectedEvent = calEvent.eventID;
                                $('#myModal #eventTitle').text(calEvent.title);
                                var $description = $('<div/>');
                                $description.append($('<p/>').html('<b>Start:</b>' + calEvent.start.format("DD-MMM-YYYY HH:mm a")));
                                if (calEvent.end != null) {
                                    $description.append($('<p/>').html('<b>End:</b>' + calEvent.end.format("DD-MMM-YYYY HH:mm a")));
                                }
                                $description.append($('<p/>').html('<b>Description:</b>' + calEvent.description));
                                $('#myModal #pDetails').empty().html($description);

                                $('#myModal').modal();
                            },
                            selectable: true,
                            select: function (start, end) {
                                selectedEvent = {
                                    eventID: 0,
                                    title: '',
                                    description: '',
                                    start: start,
                                    end: end,
                                    allDay: false,
                                    color: ''
                                };
                                openAddEditForm();
                                $('#calendar').fullCalendar('unselect');
                            },
                            editable: true,
                            eventDrop: function (event) {
                                var data = {
                                    EventID: event.HorarioId,
                                    Subject: event.NomeProva,
                                    Start: event.Datainicio.format('DD/MM/YYYY HH:mm A'),
                                    End: event.Datafim != null ? event.Datafim.format('DD/MM/YYYY HH:mm A') : null,
                                    Description: event.Descricao,
                                    ThemeColor: event.TemaCor,
                                    IsFullDay: event.DiaInteiro
                                };
                                SaveEvent(data);
                            }
                        })
                    }


                    $('#dtp1,#dtp2').datetimepicker({
                        format: 'DD/MM/YYYY HH:mm A'
                    });


                })
            </script>
        }
    }

}
