
@model GestorHorario.Models.RegisterViewModel
@{
    //ViewData["Title"] = "Registar";
    Layout = "~/Views/Shared/_LayoutBackOffice.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="/Backoffice/Registar" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label>Nome</label>
                <input name="Nome" class="form-control" type="text" />
            </div>
            <div class="form-group">
                <label>Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword">Confirmar Password</label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
               <select asp-for="Role">
                   <option value="Aluno">Aluno</option>
                   <option value="Professor">Professor</option>
               </select>
            </div>

            
            <div class="form-group">
                <label asp-for="Ano">Qual o ano curricular:</label>
                <select asp-for="Ano">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>

            <button type="submit" class="btn btn-default">Registar</button>
        </form>
    </div>
</div>



