<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Horarios</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/vendor/bootstrap1/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="~/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="~/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="~/vendor/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="~/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Horarios</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">

                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">

                        <li>
                            <a href="index.html"><i class="fa fa-home fa-fw"></i> Home</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Administração<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="flot.html">Adicionar User</a>
                                </li>
                                <li>
                                    <a href="morris.html">Adicionar Prova</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>

                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        <div id="page-wrapper">





            
                <div id="calender"></div>

                <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title"><span id="eventTitle"></span></h4>
                            </div>
                            <div class="modal-body">
                                <button id="btnDelete" class="btn btn-default btn-sm pull-right">
                                    <span class="glyphicon glyphicon-remove"></span> Remove
                                </button>
                                <button id="btnEdit" class="btn btn-default btn-sm pull-right" style="margin-right:5px;">
                                    <span class="glyphicon glyphicon-pencil"></span> Edit
                                </button>
                                <p id="pDetails"></p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="myModalSave" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Save Event</h4>
                            </div>
                            <div class="modal-body">
                                <form class="col-md-12 form-horizontal">
                                    <input type="hidden" id="hdEventID" value="0" />
                                    <div class="form-group">
                                        <label>Subject</label>
                                        <input type="text" id="txtSubject" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label>Start</label>
                                        <div class="input-group date" id="dtp1">
                                            <input type="text" id="txtStart" class="form-control" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label><input type="checkbox" id="chkIsFullDay" checked="checked" />  Is Full Day event</label>
                                        </div>
                                    </div>
                                    <div class="form-group" id="divEndDate" style="display:none">
                                        <label>End</label>
                                        <div class="input-group date" id="dtp2">
                                            <input type="text" id="txtEnd" class="form-control" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Description</label>
                                        <textarea id="txtDescription" rows="3" class="form-control"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label>Theme Color</label>
                                        <select id="ddThemeColor" class="form-control">
                                            <option value="">Default</option>
                                            <option value="red">Red</option>
                                            <option value="blue">Blue</option>
                                            <option value="black">Black</option>
                                            <option value="green">Green</option>
                                        </select>
                                    </div>
                                    <button type="button" id="btnSave" class="btn btn-success">Save</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" rel="stylesheet" />
                <link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css" rel="stylesheet" media="print" />
                <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
                @section Scripts{
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
                    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
                    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
                    <script>
                        $(document).ready(function () {
                            var events = [];
                            var selectedEvent = null;
                            FetchEventAndRenderCalendar();
                            function FetchEventAndRenderCalendar() {
                                events = [];
                                $.ajax({
                                    type: "GET",
                                    url: "/home/GetEvents",
                                    success: function (data) {
                                        $.each(data, function (i, v) {
                                            events.push({
                                                eventID: v.EventID,
                                                title: v.Subject,
                                                description: v.Description,
                                                start: moment(v.Start),
                                                end: v.End != null ? moment(v.End) : null,
                                                color: v.ThemeColor,
                                                allDay: v.IsFullDay
                                            });
                                        })

                                        GenerateCalender(events);
                                    },
                                    error: function (error) {
                                        alert('failed');
                                    }
                                })
                            }

                            function GenerateCalender(events) {
                                $('#calender').fullCalendar('destroy');
                                $('#calender').fullCalendar({
                                    contentHeight: 400,
                                    defaultDate: new Date(),
                                    timeFormat: 'h(:mm)a',
                                    header: {
                                        left: 'prev,next today',
                                        center: 'title',
                                        right: 'month,basicWeek,basicDay,agenda'
                                    },
                                    eventLimit: true,
                                    eventColor: '#378006',
                                    events: events,
                                    eventClick: function (calEvent, jsEvent, view) {
                                        selectedEvent = calEvent;
                                        $('#myModal #eventTitle').text(calEvent.title);
                                        var $description = $('<div/>');
                                        $description.append($('<p/>').html('<b>Start:</b>' + calEvent.start.format("DD-MMM-YYYY HH:mm a")));
                                        if (calEvent.end != null) {
                                            $description.append($('<p/>').html('<b>End:</b>' + calEvent.end.format("DD-MMM-YYYY HH:mm a")));
                                        }
                                        $description.append($('<p/>').html('<b>Description:</b>' + calEvent.description));
                                        $('#myModal #pDetails').empty().html($description);

                                        $('#myModal').modal();
                                    },
                                    selectable: true,
                                    select: function (start, end) {
                                        selectedEvent = {
                                            eventID: 0,
                                            title: '',
                                            description: '',
                                            start: start,
                                            end: end,
                                            allDay: false,
                                            color: ''
                                        };
                                        openAddEditForm();
                                        $('#calendar').fullCalendar('unselect');
                                    },
                                    editable: true,
                                    eventDrop: function (event) {
                                        var data = {
                                            EventID: event.eventID,
                                            Subject: event.title,
                                            Start: event.start.format('DD/MM/YYYY HH:mm A'),
                                            End: event.end != null ? event.end.format('DD/MM/YYYY HH:mm A') : null,
                                            Description: event.description,
                                            ThemeColor: event.color,
                                            IsFullDay: event.allDay
                                        };
                                        SaveEvent(data);
                                    }
                                })
                            }

                            $('#btnEdit').click(function () {
                                //Open modal dialog for edit event
                                openAddEditForm();
                            })
                            $('#btnDelete').click(function () {
                                if (selectedEvent != null && confirm('Are you sure?')) {
                                    $.ajax({
                                        type: "POST",
                                        url: '/home/DeleteEvent',
                                        data: { 'eventID': selectedEvent.eventID },
                                        success: function (data) {
                                            if (data.status) {
                                                //Refresh the calender
                                                FetchEventAndRenderCalendar();
                                                $('#myModal').modal('hide');
                                            }
                                        },
                                        error: function () {
                                            alert('Failed');
                                        }
                                    })
                                }
                            })

                            $('#dtp1,#dtp2').datetimepicker({
                                format: 'DD/MM/YYYY HH:mm A'
                            });

                            $('#chkIsFullDay').change(function () {
                                if ($(this).is(':checked')) {
                                    $('#divEndDate').hide();
                                }
                                else {
                                    $('#divEndDate').show();
                                }
                            });

                            function openAddEditForm() {
                                if (selectedEvent != null) {
                                    $('#hdEventID').val(selectedEvent.eventID);
                                    $('#txtSubject').val(selectedEvent.title);
                                    $('#txtStart').val(selectedEvent.start.format('DD/MM/YYYY HH:mm A'));
                                    $('#chkIsFullDay').prop("checked", selectedEvent.allDay || false);
                                    $('#chkIsFullDay').change();
                                    $('#txtEnd').val(selectedEvent.end != null ? selectedEvent.end.format('DD/MM/YYYY HH:mm A') : '');
                                    $('#txtDescription').val(selectedEvent.description);
                                    $('#ddThemeColor').val(selectedEvent.color);
                                }
                                $('#myModal').modal('hide');
                                $('#myModalSave').modal();
                            }

                            $('#btnSave').click(function () {
                                //Validation/
                                if ($('#txtSubject').val().trim() == "") {
                                    alert('Subject required');
                                    return;
                                }
                                if ($('#txtStart').val().trim() == "") {
                                    alert('Start date required');
                                    return;
                                }
                                if ($('#chkIsFullDay').is(':checked') == false && $('#txtEnd').val().trim() == "") {
                                    alert('End date required');
                                    return;
                                }
                                else {
                                    var startDate = moment($('#txtStart').val(), "DD/MM/YYYY HH:mm A").toDate();
                                    var endDate = moment($('#txtEnd').val(), "DD/MM/YYYY HH:mm A").toDate();
                                    if (startDate > endDate) {
                                        alert('Invalid end date');
                                        return;
                                    }
                                }

                                var data = {
                                    EventID: $('#hdEventID').val(),
                                    Subject: $('#txtSubject').val().trim(),
                                    Start: $('#txtStart').val().trim(),
                                    End: $('#chkIsFullDay').is(':checked') ? null : $('#txtEnd').val().trim(),
                                    Description: $('#txtDescription').val(),
                                    ThemeColor: $('#ddThemeColor').val(),
                                    IsFullDay: $('#chkIsFullDay').is(':checked')
                                }
                                SaveEvent(data);
                                // call function for submit data to the server
                            })

                            function SaveEvent(data) {
                                $.ajax({
                                    type: "POST",
                                    url: '/home/SaveEvent',
                                    data: data,
                                    success: function (data) {
                                        if (data.status) {
                                            //Refresh the calender
                                            FetchEventAndRenderCalendar();
                                            $('#myModalSave').modal('hide');
                                        }
                                    },
                                    error: function () {
                                        alert('Failed');
                                    }
                                })
                            }
                        })
                    </script>
                }

            </div>
            @RenderBody()







       

    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="~/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="~/vendor/raphael/raphael.min.js"></script>
    <script src="~/vendor/morrisjs/morris.min.js"></script>
    <script src="~/data/morris-data.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js"></script>

</body>

</html>
